<div id="editor">
  <textarea>
title = <%= title %>
blurb = <%= blurb %>
tags = <%= tags %>

----
<%= body %>
  </textarea>
</div>

<!-- button placed in simplemdetoolbar by css -->
<a class="button" id="save">Save</a>