
<div class="section">
  <h3 class="admin">
    Login
  </h3>
  <p>
    <form>
      <div class="row">
        <div class="six columns">
          <label>Email
            <input class="u-full-width" type="text" id="email">
          </label>
        </div>
        <div class="six columns">
          <label>Password
            <input class="u-full-width" type="password" id="password">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="three columns">
          <a class="button button-primary" id="login">Login</a>
        </div>
      </div>
    </form>

  </p>
</div>