
<h2 class="title contact">
  Get in touch - I can be reached at <a href="mailto:liam@caffeinated.tech"> liam@caffeinated.tech</a>. If you have any questions, comments or ideas - I would love to hear from you.
</h2>

<div class="section">
  <h3 class="contact">
    Social Media
  </h3>
  <p>
    I'm not massively active on most of them, but feel free to connect on your social media network of choice:
  </p>


  <div class="row social-links">
    <div class="three columns">
      <a href="" class="linkedin">
        LinkedIn
      </a>
    </div>
    <div class="three columns">
      <a href="" class="facebook">
        Facebook
      </a>
    </div>
    <div class="three columns">
      <a href="" class="googleplus">
        Google +
      </a>
    </div>
    <div class="three columns">
      <a href="" class="twitter">
        Twitter
      </a>
    </div>
  </div>

  <div class="row social-links">
    <div class="three columns">
      <a href="http://stackoverflow.com/users/2295592/caffeinated-tech" class="stackoverflow" target="_blank">
        Stack Overflow
      </a>
    </div>
    <div class="three columns">
      <a href="http://codepen.io/lclk/" class="codepen">
        Codepen
      </a>
    </div>
    <div class="three columns">
      <a href="" class="meetup">
        Meetup
      </a>
    </div>
    <div class="three columns">
      <a href="" class="instructables">
        Instructables
      </a>
    </div>
  </div>

</div>

  </div>
<div class="section">
  <h3 class="contact">
    Contact
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="contact">
    Contact
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="contact">
    Contact
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="contact">
    Contact
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>  