
<h2 class="title contact">
  Get in touch - I can be reached at <a href="mailto:liam@caffeinated.tech"> liam@caffeinated.tech</a>. If you have any questions, comments or ideas - I would love to hear from you.
</h2>

<div class="section">
  <h3 class="contact">
    Social Media
  </h3>
  <p>
    I'm not massively active on most of them, but feel free to connect on your social media network of choice:
  </p>
</div>

<ul id="hexGrid">
  <li class="hex linkedin">
    <div class="hexIn">
      <a href="https://www.linkedin.com/in/liamkrewer" class="hexLink" target="_blank" title="LinkedIn">
        <img src="images/linkedin.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex facebook">
    <div class="hexIn">
      <a href="https://www.facebook.com/liam.krewer" class="hexLink" target="_blank" title="Facebook">
        <img src="images/facebook.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex googleplus">
    <div class="hexIn">
      <a href="https://plus.google.com/108993153255443941423" class="hexLink" target="_blank" title="Google+">
        <img src="images/google-plus.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex twitter">
    <div class="hexIn">
      <a href="https://twitter.com/LiamKrewer" class="hexLink" title="Twitter" target="_blank">
        <img src="images/twitter.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex stackoverflow">
    <div class="hexIn">
      <a href="http://stackoverflow.com/users/2295592/caffeinated-tech" target="_blank" class="hexLink" title="StackOverflow">
        <img src="images/stack-overflow.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex codepen">
    <div class="hexIn">
      <a href="http://codepen.io/lclk/" class="hexLink" target="_blank" title="Codepen">
        <img src="images/codepen.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex meetup">
    <div class="hexIn">
      <a href="" class="hexLink">
        <img src="images/meetup.jpg" title="Meetup">
        </img>
      </a>
    </div>
  </li>    
  <li class="hex github">
    <div class="hexIn"> 
      <a href="https://github.com/caffeinated-tech" class="hexLink" target="_blank" title="Github">
        <img src="images/github.png">
        </img>
      </a>
    </div>
  </li>    
</ul>