
<h2>
  Contact me
</h2>
<p>
On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
</p> 

<h4>
  This is a quote
</h4>
<blockquote>
On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.

<a>
  -- Lorum Ipsum Fuck 'em
</a>
</blockquote>

<h4>This is an unordered list</h4>
<ul>
  <li>an item</li>
  <li>a similar item</li>
  <li>another item but from a different creator</li>
  <li>ooh - this one is nice!</li>
  <li>nah, nowwe'vegone too far</li>
</ul>

<h4>Here is an ordered one!</h4>
<ol>
  <li> first</li>
  <li> second</li>
  <li> third</li>
  <li> fourth</li>
  <li> fifth</li>
</ol>

<h3>
  Mail
</h3>
<p>
  I can be reached at <a href="mailto:liam@caffeinated.tech"> liam@caffeinated.tech</a>. If you have any questions, comments or ideas - I would love to hear from you.
</p>
<h3>
  Social Media
</h3>
<p>
  I'm not massively active on most of them, but feel free to connect on your social media network of choice:
</p>

<ul id="hexGrid">
  <li class="hex linkedin">
    <div class="hexIn">
      <a href="https://www.linkedin.com/in/liamkrewer" class="hexLink" target="_blank" title="LinkedIn">
        <img src="images/linkedin.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex facebook">
    <div class="hexIn">
      <a href="https://www.facebook.com/liam.krewer" class="hexLink" target="_blank" title="Facebook">
        <img src="images/facebook.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex googleplus">
    <div class="hexIn">
      <a href="https://plus.google.com/108993153255443941423" class="hexLink" target="_blank" title="Google+">
        <img src="images/google-plus.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex twitter">
    <div class="hexIn">
      <a href="https://twitter.com/LiamKrewer" class="hexLink" title="Twitter" target="_blank">
        <img src="images/twitter.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex stackoverflow">
    <div class="hexIn">
      <a href="http://stackoverflow.com/users/2295592/caffeinated-tech" target="_blank" class="hexLink" title="StackOverflow">
        <img src="images/stack-overflow.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex codepen">
    <div class="hexIn">
      <a href="http://codepen.io/lclk/" class="hexLink" target="_blank" title="Codepen">
        <img src="images/codepen.png">
        </img>
      </a>
    </div>
  </li>
  <li class="hex meetup">
    <div class="hexIn">
      <a href="" class="hexLink">
        <img src="images/meetup.jpg" title="Meetup">
        </img>
      </a>
    </div>
  </li>    
  <li class="hex github">
    <div class="hexIn"> 
      <a href="https://github.com/caffeinated-tech" class="hexLink" target="_blank" title="Github">
        <img src="images/github.png">
        </img>
      </a>
    </div>
  </li>    
</ul>