
<h2 class="title cv">
  My professional profile and CV
</h2>

<div class="section">
  <h3 class="cv">
    Software Developer
  </h3>
  <p>
    For the past 3 years I have been working for a local SaaS startup - <a href="http://onepagecrm.com" target="_blank">OnePageCRM</a> as a full stack developer. 
  </p>
  <h4 class="cv">
    Backend
  </h4>
  <p>
    I mostly work with <a href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a> (RoR), but also have experience with <a href="https://nodejs.org/en/" target="_blank">NodeJS</a> (specifically <a href="https://expressjs.com/" target="_blank">Express</a>) - this website is written using NodeJS and Express (source is available on <a href="https://github.com/caffeinated-tech/caffeinated-tech">Github</a>). 
  </p>
  <h4 class="cv">
    Frontend
  </h4>
  <p>
    As a RoR developer, my favourite JS pre-processor (it's technically not a superset) is <a href="http://coffeescript.org/" target="_blank">CoffeeScript</a>. 
  </p>
  <p>
    I've worked with a variety of frontend frameworks, though my preference lies with minimal vanilla JS unless complexity calls for more structure. These include <a href="https://angularjs.org/" target="_blank">Angular (1.x)</a>, <a href="https://facebook.github.io/react/" target="_blank">ReactJS</a> (in conjunction with <a href="https://github.com/reflux/refluxjs" target="_blank">RefluxJS</a>) and <a href="http://backbonejs.org/" target="_blank">BackBone</a>.
  </p>
  <h4 class="cv">
    Database
  </h4>
  <p>
    I've primarily worked with <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> and memory stores such as <a href="https://redis.io" target="_blank">Redis</a> and <a href="https://memcached.org/" target="_blank">Memcached</a>. I have some basic experience with <a href="https://www.mysql.com/" target="_blank">MySQL</a>.
  </p>
  <h4 class="cv">
    Platforms
  </h4>
  <p>
    I develop primarily on <a href="https://www.ubuntu.com/" target="_blank">Ubuntu</a> and have worked with servers from <a href="https://aws.amazon.com" target="_blank">AWS</a> <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html" target="_blank"></a> (AMI) and <a href="https://www.hetzner.de/ot/" target="_blank">Hetzner</a> (Ubuntu). 
  </p>
  <h4 class="cv">
    Languages
  </h4>
  <p>
    I've worked in a lot of languages throughout work, college and personal projects. They are ordered roughly by profficiency:
    <ul>
      <li>
        Ruby
      </li>
      <li>
        Coffeescript
      </li>
      <li>
        Javascript
      </li>
      <li>
        HTML
      </li>
      <li>
        CSS / SASS
      </li>
      <li>
        C
      </li>
      <li>
        PHP
      </li>
      <li>
        Java
      </li>
      <li>
        Assembly
      </li>
      <li>
        PHP
      </li>
      <li>
        VHDL
      </li>
      <li>
        C++
      </li>
      <li>
        C#
      </li>

    </ul>
  </p>
</div>

<div class="section">
  <h3 class="cv">
    Education
  </h3>
  <p>
    I graduated in 2014 from the National University of Ireland, Galway (<a href="http://www.nuigalway.ie/" target="_blank">NUIG</a> ) with a first class honors Bachelor (level 8) degree in Computer & Electronig Engineering.
  </p>
  <p>
     I initially started out in 2010 in the undergraduate program titled "Engineering Innovation - Electronics", which was a course designed to teach both technical and business / entreprenurial skills. Sadly the course was cancelled in my second year and I switched to the similar Computer Engineering degree, which replaced the business modules with programming ones.
  </p>
  <p>
    Among the subjects I studied were:
    <ul>
      <li>
        Programming
      </li>
      <li>
        FGPA design 
      </li>
      <li>
        Networking & Communications
      </li>
      <li>
        Electromagnetic Signals
      </li>
      <li>
        Microcontrollers 
      </li>
      <li>
        Electronic Circuits & Systems
      </li>
      <li>
        Machine Learning
      </li>
      <li>
        Network Programming
      </li>
    </ul>
  </p>
</div>