
<h2 class="title cv">
  <a href="v/cv">
    Profile & Curriculum Vitae 
  </a>
</h2>

<div class="section">
  <h3 class="cv">
    CV
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="cv">
    CV
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="cv">
    cvcv
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="cv">
    CV
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="cv">
    Curiculum Vitae
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>