
<div class="section">
  <h3>
    Welcome
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="blog">
    Blog
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="glossary">
    Glossary
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="contact">
    Contact me
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>

<div class="section">
  <h3 class="cv">
    Curiculum Vitae
  </h3>
  <p>
    Lorum Ipsum Fuck'em
  </p>
</div>  