<div id="new-post">
  <div class="section">
    <h3 class="blog">
      Title
    </h3>
    <p>
      Post Body
    </p>
  </div>

  <div>
    <form>
      <a class="button button-primary">Add Section</a>
      <div class="row">
        <div class="twelve columns">
          <label>Title
            <input class="u-full-width" type="text" id="title">
          </label>
        </div>
        <div class="twelve columns">
          <label>Slug
            <input class="u-full-width" type="text" id="slug">
          </label>
        </div>
        <div class="twelve columns">
          <label>Tags
            <input class="u-full-width" type="text" id="slug">
          </label>
        </div>
      </div>
    </form>
    <a class="button button-primary" href="#">Save Post</a>
  </div>
</div>
