<script type="text/template" id="template">
  <div class="section">
    <h3 class="blog">
      Insert Title
    </h3>
    <p>
      Insert Body
    </p>
  </div>
</script>

<div id="new-content" contenteditable="true">
  <div class="section">
    <h3 class="blog">
      Insert Title
    </h3>
    <p>
      Insert Body
    </p>
  </div>
</div>  



<form>

  <div class="row">
    <div class="three columns">
      <a class="button button-primary" id="add-section">Add Section</a>
    </div>
    <div class="three columns">
      <a class="button button-primary" id="add-image">Add Image</a>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Title
        <input class="u-full-width" type="text" id="title">
      </label>
    </div>
    <div class="six columns">
      <label>Author
        <input class="u-full-width" type="text" id="author">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Tags
        <input class="u-full-width" type="text" id="tags">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Blurb
        <textarea class="u-full-width" id="blurb">
          
        </textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <a class="button button-primary" id="submit-post">Save Post</a>
  </div>
</form>
