
<div class="section">
  <div class="column">
    <%= image_tag 'questions.png'%>
  </div>
  <div class="column">
    <h1>
      Looking for something?
    </h1>
    <p>
      I'm sorry but there's nothing here for now. Once there is enough content to be searched, this page will be updated. Thank you for your patience.
    </p>
  </div>
</div>