
#contents p {
  margin: 0px 0 30px;
  padding:20px 12px 5px 10px;
  /*background-color: #ccc;*/
  color: #ccc;
  position:relative;
  border-top: 4px solid;
  border-color:#ccc;
  text-indent: 20px;
  line-height: 1.4em;
  margin-bottom: 3em;
  font-size: 16px;
}
#contents blockquote {
  border-top: 4px solid;
  color: #eee;
  font-style: italic;
  margin-bottom: 3em;
  padding: 0.5em 10px 0.5em 45px;
  quotes: "\201C""\201D""\2018""\2019";
}
#contents blockquote:before {
  color: #fff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#contents blockquote:after {
  color: #fff;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.6em;
}
#contents li {
  color: #ccc;
}
#contents li{
  margin-bottom:0;
}
#contents ul{
  border-top: 4px solid;
  list-style-type: none;
  padding:5px 0 0 15px;
}
#contents ol {
  border-top: 4px solid;
  padding:5px 0 0 15px;
}
#contents a {
  color: #fff;
  text-decoration: underline;
}
#contents h3 {
  font-size:20px;
  background-color: #009fa9;
  color: white;
  font-weight:bold;
  padding:4px 10px 4px 5px;
  margin:0;
}

#contents h4 {
  font-weight:bold;
  font-size:16px;
  background-color: #009fa9;
  color: white;
  position:relative;
  width:auto;
  display:inline-block;
  padding:3px 10px;
  margin: 0;
}
#contents label {
  color: #222;
}
#contents.blog p,
#contents.blog > * {
  border-color: #004180;
} 
#contents.glossary p,
#contents.glossary > * {
  border-color: #cc8400;
} 
#contents.contact p,
#contents.contact > *{
  border-color: #006f00;
}
#contents.profile p,
#contents.profile > * {
  border-color: #6d006d;
} 
#contents.blog h3{
  background-color: #004180;
}
#contents.glossary h3 {
  background-color: #cc8400;
}
#contents.contact h3,
#contents.contact h4 {
  background-color: #006f00;
}
#contents.profile h3,
#contents.profile h4 {
  background-color: #6d006d;
}

#contents.home h3,
#contents.home h4 {
  background-color:  #7b0000;
}
.blog .title{
  background-color: #004180;
}
.glossary .title{
  background-color: #cc8400;
}
.contact .title{ 
  background-color: #006f00;
}
.profile .title{
  background-color: #6d006d;
}
.home .title{
  background-color:  #7b0000;
}

#footer {
  bottom:0;
  left:0;
  right:0;
  margin-top:30px;
  color:#ccc;
  font-size:12px;
  padding:0 20px;
}

/*skeleton overrides*/
@media (min-width: 550px){
  .container {
      width: 90%;
  }
}

.checkered {
  background-image: 
    linear-gradient(
      45deg, 
      rgba(0,0,0,0.1) 25%, 
      rgba(0,0,0,0.2) 25%, 
      rgba(0,0,0,0.2) 75%, 
      rgba(0,0,0,0.1) 75%, 
      rgba(0,0,0,0.1)), 
    linear-gradient(
      45deg, 
      rgba(0,0,0,0.1) 25%, 
      rgba(0,0,0,0.2) 25%, 
      rgba(0,0,0,0.2) 75%, 
      rgba(0,0,0,0.1) 75%, 
      rgba(0,0,0,0.1));
  background-size: 10px 10px;
  background-position:0 0, 5px 5px
}