#contents {
  min-height:1000px;
}
#contents,
.editor-preview-side {

  hr {
    margin:0;
    border:none;
    height:4px;
    color:white;
  }
  > p {
    margin: 0;
    padding:20px 12px 5px 10px;
    /*background-color: #ccc;*/
    color: #ccc;
    position:relative;
    text-indent: 20px;
    line-height: 1.4em;
    font-size: 16px;
    &.no-bottom-space{
      margin-bottom: 0px;
    }
    img {
      margin: 0px 0 -24px -20px;
    }
  }
  img {
    max-width: 100%;
  }
  blockquote {
    border-top: none;
    position:relative;
    color: #eee;
    font-style: italic;
    margin-bottom: 3em;
    padding: 0.5em 10px 0.5em 45px;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
      position: absolute;
      left:0;
      top:20px;
      color: #fff;
      content: open-quote;
      font-size: 4em;
    }
    &::after {
      position: absolute;
      right:0;
      bottom:5px;
      color: #fff;
      content: close-quote;
      font-size: 4em;
    }
    a {
      float: right;
      padding-right: 30px;
    }
    p {
      border-top: none;
      padding: 0;
      margin:0;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
  li {
    color: #ccc;
    margin-bottom:0;
  }
  ul {
    list-style-type: none;
    padding:5px 0 0 15px;
  }
  ol {
    padding:5px 0 0 15px;
  }
  h2 {
    border-bottom: 4px solid;
    text-align: center;
    margin: 1em 0 0 0;
    display: block;
    padding: 10px 30px;
    color: #fff;
    // background-image: 
    //   linear-gradient(
    //     45deg, 
    //     rgba(0,0,0,0.1) 25%, 
    //     rgba(0,0,0,0.2) 25%, 
    //     rgba(0,0,0,0.2) 75%, 
    //     rgba(0,0,0,0.1) 75%, 
    //     rgba(0,0,0,0.1)), 
    //   linear-gradient(
    //     45deg, 
    //     rgba(0,0,0,0.1) 25%, 
    //     rgba(0,0,0,0.2) 25%, 
    //     rgba(0,0,0,0.2) 75%, 
    //     rgba(0,0,0,0.1) 75%, 
    //     rgba(0,0,0,0.1));
    background-size: 10px 10px;
    background-position:0 0, 5px 5px
  }
  h3 {
    border-bottom: 4px solid;
    font-size:20px;
    background-color: #009fa9;
    color: white;
    font-weight:bold;
    padding:4px 10px;
    margin: 3em 0 0 0;
  }

  h4 {
    font-weight:bold;
    font-size:16px;
    background-color: #009fa9;
    color: white;
    position:relative;
    width:auto;
    display:inline-block;
    padding:3px 10px;
    margin: 3em 0 0 0;
  }
  label {
    color: #ccc;
  }
  > .row {
    border:none;
  }

  &.blog {
    hr {
      background-color: #004180;
    }
    h2,
    h3,
    h4 {
      border-color: #004180;
      background-color: #004180;
    } 
    blockquote {
      &:before,
      &:after,
      a {
        color:#004180;
      }
    }
  }
  &.glossary  {
    hr {
      background-color: #cc8400;
    }
    h2,
    h3,
    h4 {
      border-color: #cc8400;
      background-color: #cc8400;
    } 
    blockquote {
      &:before,
      &:after,
      a {
        color:#cc8400;
      }
    }
  }
  &.contact { 
    hr {
      background-color: #006f00;
    }
    h2,
    h3,
    h4 {
      border-color: #006f00;
      background-color: #006f00;
    } 
    blockquote {
      &:before,
      &:after,
      a {
        color:#006f00;
      }
    }
  }
  &.profile {
    hr {
      background-color: #6d006d;
    }
    h2,
    h3,
    h4 {
      border-color: #6d006d;
      background-color: #6d006d;
    } 
    blockquote {
      &:before,
      &:after,
      a {
        color:#6d006d;
      }
    }
  }
  &.home {
    hr {
      background-color: #8b8b8b;
    }
    h2,
    h3,
    h4 {
      border-color: #8b8b8b;
      background-color: #646464;
    } 
    blockquote {
      &:before,
      &:after,
      a {
        color:#8b8b8b;
      }
    }
  }
}

textarea { 
  resize: vertical; 
}

#send-copy{
  line-height:35px;
}


/*skeleton overrides*/
@media (min-width: 550px){
  .container {
      width: 90%;
  }
}

