html {
  color: #ccc;
  position:fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  overflow:   hidden;
  background: repeating-linear-gradient(
    45deg, 
    #111 25%, 
    #222 25%, 
    #222 50%, 
    #111 50%, 
    #111 75%, 
    #222 75%);
  background-size: 20px 20px;
}
body {
  overflow-y: scroll;
  height:100%;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a.button,
a.button:visited{
  color: #ccc;
}
a.button:hover{
  color: white;
}
label {
  color: #ccc;
}
img.logo {
  display: block;
  margin: auto;
  width:100px;
}
#contents {
  position:relative;
  margin-top:20px;
}

#contents .title {
  display: block;
  margin-left: -12.5%;
  margin-right: -12.5%;
  background-color: #004180;
  padding: 10px 12.5%;
}

#contents .title i {
  color: white;
}
.centered {
  text-align: center;
}
.inverted{
  text-align: center;
}
.inverted a{
  display: inline-block;
  width:100%;
  padding: 1px 3px;
}
.inverted.blog {
  background-color: #004180;
}
.inverted.glossary {
  background-color: #cc8400;
}
.inverted.contact {
  background-color: #006f00;
}
.inverted.cv {
  background-color: #6d006d;
}

.section {
  margin: 30px 0 30px 30px;
  padding:25px 15px 5px 15px;
  background-color: #ccc;
  color: #222;
  position:relative;
}
.section p {
  text-indent: 20px;
  line-height: 16px;
}
.section h3 {
  font-size:20px;
  background-color: #009fa9;
  color: white;
  position:absolute;
  top:-9px;
  left:-30px;
  padding:3px 15px;
 }
.section h3.blog {
  background-color: #004180;
}
.section h3.glossary {
  background-color: #cc8400;
}
.section h3.contact {
  background-color: #006f00;
}
.section h3.cv {
  background-color: #6d006d;
}
