html {
  color: #ccc;
  position:fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  overflow:   hidden;
  background: repeating-linear-gradient(
    45deg, 
    rgba(0,0,0,0.95) 25%, 
    rgba(0,0,0,0.9) 25%, 
    rgba(0,0,0,0.9) 50%, 
    rgba(0,0,0,0.95) 50%, 
    rgba(0,0,0,0.95) 75%, 
    rgba(0,0,0,0.9) 75%);
  background-size: 20px 20px;
}
body {
  overflow-y: scroll;
  height:100%;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a.button,
a.button:visited{
  color: #ccc;
}
a.button:hover{
  color: white;
}
label {
  color: #ccc;
}
img.logo {
  display: block;
  margin: auto;
  width:100px;
}
#contents {
  position:relative;
  margin-top:20px;
}

#contents .title {
  display: block;
  padding: 10px 30px;
  font-size:26px;
}
#contents .title.blog{
  color: #004180;
}
#contents .title.glossary{
  color: #cc8400;
}
#contents .title.contact{
  color: #006f00;
}
#contents .title.cv{
  color: #6d006d;
}
.hex img {
  max-height:100%;
  max-width:100%;
}
.hex.linkedin a{
    width:100%;
    height:100%;
    background-color: #006fa6;
    text-align: center;
}
.hex.facebook a{
    width:100%;
    height:100%;
    background-color: #295396;
    text-align: center;
}
.hex.googleplus a{
    width:100%;
    height:100%;
    background-color: #db4437;
    text-align: center;
}
.hex.twitter a{
    width:100%;
    height:100%;
    background-color: #1DA1F2;
    text-align: center;
}
.hex.twitter a{
    width:100%;
    height:100%;
    background-color: #1DA1F2;
    text-align: center;
}
.hex.codepen a{
    width:100%;
    height:100%;
    background-color: #000;
    text-align: center;
}
.hex.stackoverflow a{
    width:100%;
    height:100%;
    background-color: #F48024;
    text-align: center;
}


#contents .title i {
  color: white;
}
.centered {
  text-align: center;
}
.inverted{
  text-align: center;
}
.inverted a{
  display: inline-block;
  width:100%;
  padding: 1px 3px;
}
.inverted.blog {
  background-color: #004180;
}
.inverted.glossary {
  background-color: #cc8400;
}
.inverted.contact {
  background-color: #006f00;
}
.inverted.cv {
  background-color: #6d006d;
}

.section {
  margin: 30px 0 30px 16px;
  padding:25px 12px 5px 12px;
  background-color: #ccc;
  color: #222;
  position:relative;
}
.section p {
  text-indent: 20px;
  line-height: 16px;
  margin-bottom: 1rem;
}
.section h3 {
  font-size:20px;
  background-color: #009fa9;
  color: white;
  position:absolute;
  top:-9px;
  left:-20px;
  padding:3px 10px;
 }
.section h3.blog {
  background-color: #004180;
}
.section h3.glossary {
  background-color: #cc8400;
}
.section h3.contact {
  background-color: #006f00;
}
.section h3.cv {
  background-color: #6d006d;
}



/*skeleton overrides*/
@media (min-width: 550px){
  .container {
      width: 90%;
  }
}