<%= render partial: 'blog/header'%>

<div class="section">
  <div class="column">  
    <h1>
      Welcome to my website
    </h1>
    <p>
      Thank you for taking the time to visit. For now you will find some small blog posts here on all things tech - ranging from microcontrollers to web development. 
    </p>
  </div>
  <div class="column">
    <%= image_tag "placeholder.png"%>
  </div>
</div>

<div class="section">
  <div class="column">
    <%= image_tag "placeholder.png"%>
  </div>
  <div class="column">
    <h1>
      Web development
    </h1>
    <p>
      I've spent the last 3 years working as a Web developer with Ruby on Rails for a local startup. Over the last year I have also started with React and Reflux. during college I've worked with Angular, Node and java. I've learnt a lot through the online community, so I've decided to start writing and posting online to give back to the community.
    </p>
  </div>
</div>


<div class="section">
  <div class="column">
    <h1>
      Electronics
    </h1>
    <p>
    ???
    </p>
  </div>
  <div class="column">
    <%= image_tag "placeholder.png"%>
  </div>
</div>
