<script type="text/template" id="template">
  <section>
    <h3>
      Insert Title
    </h3>
    <p>
      Insert Body
    </p>
  </section>
</script>

<div id="new-content" contenteditable="true">
  {{=it.body}}
</div>  



<form>


  <input style="display:none" type="text" id="_id" value="{{=it._id}}"/>

  <div class="row">
    <div class="three columns">
      <a class="button button-primary" id="add-section">Add Section</a>
    </div>
    <div class="three columns">
      <a class="button button-primary" id="add-image">Add Image</a>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Title
        <input class="u-full-width" type="text" id="title" value="{{=it.title}}">
      </label>
    </div>
    <div class="six columns">
      <label>Author
        <input class="u-full-width" type="text" id="author" value="{{=it.author}}">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Tags
        <input class="u-full-width" type="text" id="tags" value="{{=it.tags}}">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Blurb
        <textarea class="u-full-width" id="blurb">
          {{=it.blurb}}
        </textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <a class="button button-primary" id="edit-definition">Update Definition</a>
  </div>
</form>
