<%= render partial: 'blog/header'%>
<div class="section">
  <h1>
    Welcome to my Blog
  </h1>
  <p>
    
  </p>
</div>

<div class="section">
  <h1>
    The Meta-Adventures
  </h1>
  <p>
    I've found myself in a loop of procrastinating in an almost productive way. For years I've been meaning to get started on writing a blog. I want to write about software development and electronics. But I'm finding myself <a href="" title="TODO: write about what this is">Bikeshedding</a> throughout the process. I focus on which languages / frameworks / technologies to use instead of just getting on with it by writing and publishing content <a href="https://xkcd.com/309/"> (Relevant XKCD)</a>.
  </p>
  <p>
    I'm sure I can't be the only one. But I just can't pull myself away from it. So the least I can do is write about it. It's a good way of organisin my thoughts on the process, and having writing something gives me more fullfilment than spending hours fruitlessly reading tutorials.
  </p>
</div>

<div class="section">
  <h2>
    The current implementation
  </h2>
  <p>
    I've tried building my own (node), then <a href="https://jekyllrb.com/">Jekyll</a>, building my own (static) then Wordpress. Now I'm back to my roots and building a blog in <a href="http://rubyonrails.org/">Ruby on Rails</a>. While I initially studied to become a Computer Engineer, I've spent the past 3 years working as a Full Stack Ruby on Rails Developer.
  </p>
  <p>
    Rails was made popular by <a href="http://david.heinemeierhansson.com/">DHH's</a> video on how to <a href="https://www.youtube.com/watch?v=Gzj723LkRJY&feature=youtu.be">build a blog in 15 mintues</a>. A blog in 15 minutes. This was back in 2005. Now we are in 2017. It must be possible to do much more just as fast now? The problem is that not just the technology and its capabilities have increased, but so have the requirements. Blogs now need to be responsive, efficient, quick, scalable, cacheable etc...
  </p>
  <p>
    Right, so where to start?
    I've got my Rails server. I came up with a pretty menu design based on <a href="http://hakim.se/">Hakim's</a> <a href="http://lab.hakim.se/meny/">meny</a>. I've gone with <a href="http://neat.bourbon.io/">Neat</a> & <a href="http://bourbon.io/">Bourbon</a> for css layout and design as they play nicely with SASS which I've been meaning to learn more about. I've also written some basic ERB templates for layout and some static content so I can get a feel of the MVP of this blog.
  </p>
  <p>
    Now I've come to a little road block. How and where should blog posts be stored? In a Database with massive html blobs? Or maybe as html files sitting in my view directory? But what about searchable metadata - that would have to stay in some form of database surely.
    Time for some research...
  </p>
</div>