
<h2>
  Admin Panel
</h2>
<p>
  Careful - here be dragons.  
</p>

<h4>
  Login form
</h4>
<hr>
<form>
  <div class="row">
    <div class="six columns">
      <label>Email
        <input class="u-full-width" type="text" id="email">
      </label>
    </div>
    <div class="six columns">
      <label>Password
        <input class="u-full-width" type="password" id="password">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <a class="button" id="login">Login</a>
    </div>
  </div>
</form>
